---
Name: YubiAuth
---
Firesphere\YubiAuth\Authenticators\YubikeyAuthenticator:
  AuthURL: ''
Firesphere\YubiAuth\Providers\YubikeyAuthProvider:
  MaxNoYubiLogin: 25
  MaxNoYubiLoginDays: 5
# Copy the part below and uncomment it to enable the yubikey authentication.
# You can also name it default, to replace the default login method.
SilverStripe\Core\Injector\Injector:
  SilverStripe\Security\Security:
    properties:
      Authenticators:
        yubikey: %$Firesphere\YubiAuth\Authenticators\YubikeyMemberAuthenticator
